.navigation-buttons-container {
  width: 80%;
  margin: 20px auto 40px auto;
}
.navigation-buttons-container button {
  background-color: #659dbd;
  color: white;
  font-family: 'Pacifico', cursive;

}