/* REUSABLE STYLES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf1f3;
  overflow-x: hidden;
}
.route-link {
  text-decoration: none;
  color: inherit;
}
.flex-clm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.view-container {
  width: 100vw;
  margin-top: 30px;
}
.view-content {
  width: 80%;
  margin: auto;
}
.inner-container {
  padding: 5px;
  margin: 5px;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fxd {
  position: fixed;
}